.carousel-container {
  width: 80%;
  max-width: 800px;
  height: 400px;
  margin: auto;
  overflow: hidden;
}
.carousel-slide {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
}
#github {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
#github img {
  width: 100%;
  height: 100%;
}
#github-container {
  margin: auto 25px;
  position: relative;
}
#github-container p {
  margin: 0;
  padding: 0;
  text-align: center;
}
#github-container a {
  text-decoration: none;
  color: black;
  font-weight: 200;
  font-size: .75em;
  margin: 0.5em;
}
#technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
}
#technologies ul {
  margin: 10px;
  padding: 0;
  list-style: none;
}