.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0px;
}
h3 {
  border-bottom: 1px solid black;
  margin: 0;
}
h4 {
  margin: 0;
}
ul {
  margin: .5em;
}
p {
  margin: 0;
}
#skills {
  float: left;
}
#skills p {
  float: left;
  font-weight: bold;
}
#pdf {
  position: fixed;
  top: 100px;
  right: 100px;
}